$bg-color: #c9533e;
$black: #2d2623;
$light-blue: #439abf;
$night-blue: #29467a;
$yellow: #e8ae4a;
$dark-blue: #22366d;

.frame {
  width: 800px;
  height: 600px;
  background-color: $bg-color;
  position: relative;
}

.window {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 385px;
}

.window-back {
  border: 15px solid $black;
  height: 100%;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
  background-color: $night-blue;
  overflow: hidden;

  &::before {
    width: 5px;
    height: 100%;
    background-color: $light-blue;
    box-shadow: 205px 0 0 $light-blue;
    z-index: 1;
  }

  &::after {
    width: 100%;
    height: 10px;
    background-color: $black;
    top: 50%;
    left: 0;
    z-index: 5;
    box-shadow: 0 -5px 0 $light-blue;
  }
}

.window-front {
  width: 100%;
  height: 20px;
  background-color: $black;
  left: 0;
  bottom: 0;
  z-index: 1;
  &::before {
    width: 100%;
    height: 5px;
    background-color: $night-blue;
    top: 0;
    left: 0;
  }

  &::after {
    width: calc(100% - 40px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $light-blue;
    height: 5px;
  }
}
.mountains {
  left: -5px;
  bottom: 5px;

  &-left {
    left: -39px;
  }

  &-right {
    left: 134px;
  }
}

.mountain {
  position: absolute;
  width: 0;
  height: 0;
  color: $dark-blue;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 55px solid $dark-blue;
  bottom: 0;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      left: 25px * $i;
    }
  }
}

.cloud-group {
  width: 160px;
  height: 65px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 32px;

  .moon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: inset 0px 11px $yellow;
    transform: rotate(-90deg);
    left: 11px;
  }

  .cloud {
    height: 10px;
    border-radius: 15px;
    background-color: $dark-blue;
    z-index: 1;
  }

  .cloud-4 {
    width: 86px;
    bottom: 0;
    left: 27px;
  }

  .cloud-3 {
    width: 100%;
    bottom: 10px;
    &::before {
      width: 43px;
      border-radius: inherit;
      background-color: $night-blue;
      left: 0;
      bottom: 0;
      height: 100%;
    }

    &::after {
      width: 85px;
      border-radius: inherit;
      background-color: $night-blue;
      right: 0;
      bottom: 0;
      height: 100%;
    }
  }

  .cloud-2 {
    width: 100%;
    background-color: $dark-blue;
    bottom: 20px;
  }

  .cloud-1 {
    width: 100%;
    bottom: 30px;
    z-index: 0;
    &::before {
      width: 105px;
      border-radius: inherit;
      background-color: $night-blue;
      left: 0;
      bottom: 0;
      height: 100%;
    }

    &::after {
      width: 32px;
      border-radius: inherit;
      background-color: $night-blue;
      right: 0;
      bottom: 0;
      height: 100%;
    }
  }

  .cloud-0 {
    width: 50px;
    right: 22px;
    bottom: 40px;
  }
}
.star-group {
  .star {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $yellow;
    top: 115px;
    left: 90px;
    box-shadow: 10px 95px 0 -2px $yellow, -55px 135px 0 -2px $yellow,
      -35px 85px 0 -1px $yellow, 80px -25px 0 -2px $yellow,
      84px -75px 0 -3px $yellow, -35px 15px 0 -3px $yellow,
      -65px -25px 0 -2px $yellow, -15px -67px 0 -1px $yellow,
      -3px -96px 0 -2px $yellow, 9px -89px 0 -2px $yellow,
      75px 96px 0 -3px $yellow, 85px 109px 0 -2px $yellow;
  }
}

.cat {
  height: 120px;
  width: 70px;
  left: 110px;
  z-index: 99;
  bottom: 0;
  .head {
    width: 40px;
    height: calc(100% - 12px);
    background-color: $black;
    left: 0;
    bottom: 0;
    border-top-left-radius: 24px;

    .eye {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $light-blue;
      top: 12px;
      left: 5px;
      box-shadow: 15px 0 0 $light-blue;
    }

    .ear-group {
      right: 0;
      .ear {
        top: -9px;
        right: 0;
        width: 12px;
        height: 12px;
        background-color: $black;
        clip-path: polygon(100% 0, 100% 100%, 0% 100%);
      }
      .ear-2 {
        right: 14px;
      }
    }
  }
  .body {
    width: 70px;
    height: 70px;
    background-color: $black;
    bottom: 0;
    border-radius: 50%;
    .tail {
      width: 10px;
      height: 75px;
      border-radius: 15px;
      background-color: $black;
      bottom: -100%;
      right: 8px;
    }
  }
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #c9533e;
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  position: absolute;
}

*::before,
*::after {
  content: "";
}
